.header__contacts {
  position: absolute;
  display: flex;
  text-decoration: none;
  font-size: 21px;
  line-height: 25px;
  top: 61px;
  right: 90px;
  z-index: 1;
  color: #000;
}

.header__contacts:visited {
  color: black;
}

@media screen and (max-width:1200px) {
  .header__contacts {
    top: 68px;
    right: 48px;
  }
}

@media screen and (max-width:679px) {
  .header__contacts {
    top: 20px;
    right: 20px;
  }
}

@media screen and (max-width:515px) {
  .header__contacts {
    display: none;
  }
}
