.about__container {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 63px;
}

@media screen and (max-width:679px) {
  .about__container {
    gap: 40px;
    grid-template-columns: 1fr;
  }
}
