.about__section-worktime-paragraph {
  font-family: MullerMedium, Arial, Helvetica, sans-serif;
  font-size: 64px;
  line-height: 94%;
  letter-spacing: -0.5px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;
}

@media screen and (max-width:1020px) {
  .about__section-worktime-paragraph {
    font-size: 32px;
  }
}
