.slider__row {
  position: relative;
  display: flex;
  transition: all 0.3s;
}

#slide1 {
  margin: 0 0 0 -984px;
}

@media screen and (max-width:1020px) {
  #slide1 {
    margin: 0 0 0 -96vw;
  }
}
