.slider__image-description {
  position: absolute;
  max-width: 144px;
  top: 0;
  right: 68px;
  font-family: MullerRegular, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 154%;
  color: #666666;
}
