.subscribe__main-title {
  position: relative;
  top: -55px;
  max-width: 660px;
  padding: 0 20px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  font-family: 'MullerMedium';
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.2px;
}

@media screen and (max-width:488px) {
  .subscribe__main-title {
    font-size: 32px;
  }
}

@media screen and (max-width:380px) {
  .subscribe__main-title {
    font-size: 16px;
  }
}
